mixin portfile()
	include ../icon/icon.pug
	.portfile__inner
		+info('Портфель активов', '', [
			'моментальное переключение между биржами',
			'графическое отображение информации',
			'удобная сортировка данных',
			'быстрая продажа активов в один клик',
			'расчет стоимости портфеля в USD или BTC '
		])
		.portfile__icon
			+icon('Portfolio')