mixin mode()
	include ../info/info.pug
	.mode__inner
		+info('режим одного окна','Все подключенные биржи, торговый терминал, перечень валютных пар, график от TradingView, список ассетов, стакан биржевых заявок, активные и завершенные сделки находятся в одном окне и на расстоянии одного клика')
		.mode__inner--img
			img(src="./assets/images/content/macbook.png", alt="Macbook")

