.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.DEMO {
	font-size:(58.26/10)*1rem;
	width:(222.56/58.26)*1em;
}
.Instruments {
	font-size:(218.27/10)*1rem;
	width:(218.27/218.27)*1em;
}
.Notification {
	font-size:(362.5/10)*1rem;
	width:(543.75/362.5)*1em;
}
.Portfolio {
	font-size:(356.25/10)*1rem;
	width:(380/356.25)*1em;
}
.lock {
	font-size:(389.39/10)*1rem;
	width:(299.28/389.39)*1em;
}
.mail {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.strip1 {
	font-size:(283.08/10)*1rem;
	width:(283.08/283.08)*1em;
}
.strip2 {
	font-size:(248.56/10)*1rem;
	width:(330.56/248.56)*1em;
}
.strip3 {
	font-size:(360.08/10)*1rem;
	width:(400/360.08)*1em;
}
.strip4 {
	font-size:(330.2/10)*1rem;
	width:(313.5/330.2)*1em;
}
.strip5 {
	font-size:(330.2/10)*1rem;
	width:(313.5/330.2)*1em;
}
.strip6 {
	font-size:(330.2/10)*1rem;
	width:(313.5/330.2)*1em;
}
.strip7 {
	font-size:(239.79/10)*1rem;
	width:(320.64/239.79)*1em;
}
.telegram {
	font-size:(308.98/10)*1rem;
	width:(308.98/308.98)*1em;
}
.telescope {
	font-size:(515.22/10)*1rem;
	width:(286.32/515.22)*1em;
}
.twitter {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
