mixin footer()
	footer.footer
		+social([
			{href: 'javascript:void(0)', icon: 'telegram'},
			{href: 'info@capico.app', icon: 'mail', mail: true},
			{href: 'javascript:void(0)', icon: 'twitter'}
		])