mixin slider()
	include ../slide/slide.pug
	include ../social/social.pug
	include ../home/home.pug
	include ../mode/mode.pug
	include ../icon/icon.pug
	include ../portfile/portfile.pug
	include ../compass/compass.pug
	include ../beta/beta.pug
	include ../info-slide/info-slide.pug
	.slider-block#slider
		+slide('home-slide')
			+icon('strip1')
			+home()
			+social([
				{href: 'javascript:void(0)', icon: 'telegram'},
				{href: 'info@capico.app', icon: 'mail', mail:true},
				{href: 'javascript:void(0)', icon: 'twitter'},
			])
		+slide('mode-slide')
			+icon('strip2')
			+mode()
		+slide('portfile-slide')
			+portfile()
		+slide('compass-slide')
			+compass()
		+slide('info-slide')
			+icon('strip4')
			+icon('strip5')
			+info-slide([
				{
					icon: 'icon1',
					title: 'Инструменты', 
					text: '',
					list: [
						'Stop Loss и Take Profit',
						'Trailing-приказы',
						'Short Trade (торговля на понижение)',
						'Лесенка',
						'Отложенные ордера ',
						'Усреднение<super>*</super>',
						'Информация о сделке на графике<super>*</super>',
						'Автоматическая торговля<super>*</super>'
					],
					after: '<super>*</super>скоро'
				},
				{
					icon: 'icon2',
					title: 'Безопасность',
					text: 'Ваши активы не размещаются на платформе Capico, и у нас нет к ним доступа. Торговля происходит  через API ключи,  без возможности вывода средств. Ваши данные защищаются шифрованием Advanced Encryption Standard, принятым как стандарт правительством США и хранятся на изолированном сервере'
				}
			])
		+slide('info-slide')
			+icon('strip4')
			+info-slide([
				{
					icon: 'icon3',
					title: 'уведомления',
					text: 'Получайте мгновенные сообщения о всех сделках, торговых событиях и операциях с аккаунтом по e-mail и в Telegram. Настраивайте уведомления под себя и оставайтесь в курсе событий'
				},
				{
					icon: 'icon4',
					title: 'Демо-счет',
					text: 'Хотите изучить крипто трейдинг или протестировать новую стратегию без риска  потери средств? Демо-счет на 10.000 долларов к вашим услугам! Без регистрации на биржах и  с реальными комиссиями за сделки'
				}
			])
		+slide('beta-slide')
			+icon('strip7')
			+beta()